.todo {
  padding: 0.8rem;
  margin: 1rem;
  background: #444;
  border-radius: 0.5rem;
  position: relative;
}
.todo h2 {
  color: #fff;
}
.todo p {
  font-size: 14px;
  line-height: 1.4;
  color: #868686;
  white-space: normal;
  text-align: justify;
  word-break: break-all;
}
.todo .btn {
  position: absolute;
  top: 0;
  right: 0;
}
.todo .btn .btns {
  color: red;
  background-color: #000;
}
